* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
   font-size: 1.4rem; /* 14px */
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1e2337;
}

h1 {
    color: red;
}

.bloc-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 1rem;
    background-color: #b5b5b5;
    border: none;
    color: #1e2337;
    cursor: pointer;
}